/* Globales */
.container {
  max-width: 1200px;
  margin: auto;
}

/* header  */
.site-header.start {
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
}
.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

/* navegacion */

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
.navigation a:hover {
  color: #71b100;
}
.navigation a:last-of-type {
  margin: 0;
}
